<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student dasboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="std-cont">
        <section class="person-info">
            <div class="img-cont">
                <img src="<%=student.avatar%>" alt="">
            </div>
            <p>Username</p>
            <p>email1244@gmail.com</p>
            <a class="so" href="/sign-out">sign out</a>
        </section>
        <section class="camera-cont">
            <div class="camera"></div>
        </section>
    </main>
</body>
</html>